@keyframes side-information-slide {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes side-information-out {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes card-slide-in {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes select-card {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.7) translateX(100%);
  }
}

@keyframes card-fan-out {
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@for $i from 1 through 5 {
  @keyframes card-slide-out-#{$i} {
    0% {
      transform: translateX(0) rotate(0deg);
    }
    100% {
      transform: translateX(#{(-250 + (($i - 1) * 120)) + "%"}) rotate(0deg);
    }
  }
}

@for $i from 1 through 5 {
  @keyframes card-selected-#{$i} {
    0% {
      transform: translateX(#{(-250 + (($i - 1) * 120)) + "%"}) rotate(0deg)
        scale(1);
    }
    100% {
      transform: scale(1.7) translate(-25%);
    }
  }

  @keyframes card-unselected-#{$i} {
    0% {
      transform: scale(1.7) translate(-25%);
    }
    100% {
      transform: translateX(#{(-250 + (($i - 1) * 120)) + "%"}) rotate(0deg)
        scale(1);
    }
  }

  @keyframes card-slide-back-#{$i} {
    0% {
      transform: translateX(#{(-250 + (($i - 1) * 120)) + "%"}) rotate(0deg)
        scale(1);
    }

    100% {
      transform: translateX(#{(-250 + (($i - 1) * 120)) + "%"}) scale(0.75)
        rotate(0deg);
      opacity: 0.6;
    }
  }
}

code {
  white-space: pre-line;
}

.card-fan {
  width: 200px;
  height: 300px;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;

  &.card-slide-start img {
    animation: card-slide-start 1000ms ease-out forwards;
  }

  @for $i from 1 through 5 {
    &.card-slide-out img:nth-child(#{$i}) {
      animation: card-slide-out-#{$i} 1000ms ease-out forwards;
    }
  }

  @for $i from 1 through 5 {
    @for $x from 1 through 5 {
      @if $i == $x {
        &.card-selected-#{$i} img:nth-child(#{$i}) {
          z-index: 200;
          animation: card-selected-#{$i} 1000ms ease-out forwards;
          transform-origin: center center;
        }
      } @else {
        &.card-selected-#{$i} img:nth-child(#{$x}) {
          z-index: 100;
          animation: card-slide-back-#{$x} 1000ms ease-out forwards;
          transform-origin: center center;
        }
      }
      &.card-unselected-#{$i} img:nth-child(#{$i}) {
        animation: card-unselected-#{$i} 1000ms ease-out forwards;
        transform-origin: center center;
      }
    }
  }

  img {
    position: absolute;
    display: block;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px transparentize(black, 0.1);
    width: 200px;
    transform-origin: center 120%;
    transform: translateX(300px);
    animation: card-fan-out 1000ms ease-out 1s forwards;
    //opacity: 0;

    // @for $i from 1 through 5 {
    //   &:nth-child(#{$i}) {
    //     z-index: #{100 - $i};
    //     animation: card-slide-in 350ms ease-out #{($i - 1) * 350}ms forwards;
    //   }
    // }

    &.selected {
      animation: select-card 300ms ease-out forwards;
    }
  }

  $angle: 140deg;
  @for $i from 1 through 5 {
    img:nth-child(#{$i}) {
      z-index: 100 - $i;
      transform: translate(-50%, -50%) rotate(-$angle / 2 + $angle / 6 * $i);
    }
  }
}

.card-info-table {
  width: 400px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  //animation: side-information-slide 600ms ease-in 2s forwards;
}

.side-card-information {
  position: absolute;
  right: 5%;
  top: 18%;
  z-index: 200;
  padding: 12px;

  &.show {
    .side-card-information-code,
    .card-info-table {
      animation: side-information-slide 600ms ease-in 700ms forwards;
    }
  }
  &.hide {
    .side-card-information-code,
    .card-info-table {
      animation: side-information-out 600ms ease-in forwards;
    }
  }
}

.side-card-information-code {
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  padding: 12px;
  font-family: monospace;
  font-size: 1.125em;
  line-height: 2;
  width: 450px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  //
  // animation: side-information-slide 600ms ease-in 2s forwards;
}

body:not(.device-xs) .price-block:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

body:not(.device-xs) .price-block:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid #eee;
}

.price-block-wrap {
  border-radius: 6px;
  box-shadow: 0 10px 40px rgba(14, 72, 119, 0.2);
}

#op-plan-subscription-from button,
#op-plan-subscription-from input {
  border-radius: 6px;
}

.price-block {
  background-color: #fff;
  transition: all 0.3s ease;
}

.price-block:hover,
.price-block.checked {
  background-color: #f8f9fa;
}

.op-plan-subscription-from-processing .form-process {
  display: block;
  top: 0;
  left: 0;
  cursor: default;
}

.price-tenure {
  font-size: 16px;
  color: #aaa !important;
  text-transform: none;
  font-weight: 400;
}

#slider h1,
#slider {
  color: white;
}
